In [1]:
import os
import glob
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize
import ast
import string
import datetime
import re
from datetime import timedelta
pd.set_option("display.max_info_columns",200)
import psycopg2 as ps
from configparser import ConfigParser
#from sqlalchemy import create_engine
from dml_script import *

In [2]:
# Extract the configuration file
config = ConfigParser()
config.read("credentials.cfg")

['credentials.cfg']

In [3]:
#Creating the engine and setting up the database connections
rdbms = config.get("DB", "rdbms")
user = config.get("DB", "user")
password = config.get("DB", "password")
host = config.get("DB", "host")
port = config.get("DB", "port")
database = config.get("DB", "database")

In [4]:
#engine = create_engine(f'{rdbms}://{user}:{password}@{host}:{port}/{database}')
conn = ps.connect(f"host={host} dbname={database} user={user} password={password}")
cur = conn.cursor()
conn.set_session(autocommit=True)

In [2]:
df = pd.read_csv("c:/Users/vamsi/Desktop/proj_2.0/data.csv")
df
# df = df.dropna(axis=0,how='any',thresh=None,subset=None,inplace=False)
# df.info()

,InvoiceNo,Customer_ID,Date,Planet,Purchase
0,536365,17850.0,Dec 01 2010,Abydos,"[{'ItemNo': u'85123A', 'UnitPrice': 2.55, 'Des..."
1,536366,17850.0,40513,Abydos,"[{'ItemNo': 22633, 'UnitPrice': 1.85, 'Descrip..."
2,536367,13047.0,12/01/2010,Abydos,"[{'ItemNo': 84879, 'UnitPrice': 1.69, 'Descrip..."
3,536368,13047.0,Dec 01 2010,Abydos,"[{'ItemNo': 22960, 'UnitPrice': 4.25, 'Descrip..."
4,536369,13047.0,12/01/2010,Abydos,"[{'ItemNo': 21756, 'UnitPrice': 5.95, 'Descrip..."
5,536370,12583.0,40513,Altair IV,"[{'ItemNo': 22728, 'UnitPrice': 3.75, 'Descrip..."
6,536371,13748.0,2010-12-01 09:00:00,Abydos,"[{'ItemNo': 22086, 'UnitPrice': 2.55, 'Descrip..."
7,536372,17850.0,40513,Abydos,"[{'ItemNo': 22632, 'UnitPrice': 1.85, 'Descrip..."
8,536373,17850.0,Dec 01 2010,Abydos,"[{'ItemNo': u'85123A', 'UnitPrice': 2.55, 'Des..."
9,536374,15100.0,40513,Abydos,"[{'ItemNo': 21258, 'UnitPrice': 10.95, 'Descri..."
10,536375,17850.0,40513,Abydos,"[{'ItemNo': u'85123A', 'UnitPrice': 2.55, 'Des..."
11,536376,15291.0,Dec 01 2010,Abydos,"[{'ItemNo': 22114, 'UnitPrice': 3.45, 'Descrip..."
12,536377,17850.0,Dec 01 2010,Abydos,"[{'ItemNo': 22632, 'UnitPrice': 1.85, 'Descrip..."
13,536378,14688.0,2010-12-01 09:37:00,Abydos,"[{'ItemNo': 22386, 'UnitPrice': 1.95, 'Descrip..."
14,536380,17809.0,2010-12-01 09:41:00,Abydos,"[{'ItemNo': 22961, 'UnitPrice': 1.45, 'Descrip..."
15,536381,15311.0,2010-12-01 09:41:00,Abydos,"[{'ItemNo': 22139, 'UnitPrice': 4.25, 'Descrip..."
16,536382,16098.0,40513,Abydos,"[{'ItemNo': 10002, 'UnitPrice': 0.85, 'Descrip..."
17,536384,18074.0,40513,Abydos,"[{'ItemNo': 82484, 'UnitPrice': 6.45, 'Descrip..."
18,536385,17420.0,40513,Abydos,"[{'ItemNo': 22783, 'UnitPrice': 19.95, 'Descri..."
19,536386,16029.0,Dec 01 2010,Abydos,"[{'ItemNo': 84880, 'UnitPrice': 4.95, 'Descrip..."
20,536387,16029.0,Dec 01 2010,Abydos,"[{'ItemNo': 79321, 'UnitPrice': 3.82, 'Descrip..."
21,536388,16250.0,12/01/2010,Abydos,"[{'ItemNo': 21754, 'UnitPrice': 5.95, 'Descrip..."
22,536389,12431.0,40513,Anarres,"[{'ItemNo': 22941, 'UnitPrice': 8.5, 'Descript..."
23,536390,17511.0,Dec 01 2010,Abydos,"[{'ItemNo': 22941, 'UnitPrice': 8.5, 'Descript..."
24,536392,13705.0,2010-12-01 10:29:00,Abydos,"[{'ItemNo': 22150, 'UnitPrice': 1.95, 'Descrip..."
25,536393,13747.0,40513,Abydos,"[{'ItemNo': 22180, 'UnitPrice': 9.95, 'Descrip..."
26,536394,13408.0,Dec 01 2010,Abydos,"[{'ItemNo': 21506, 'UnitPrice': 0.42, 'Descrip..."
27,536395,13767.0,Dec 01 2010,Abydos,"[{'ItemNo': 22188, 'UnitPrice': 3.95, 'Descrip..."
28,536396,17850.0,Dec 01 2010,Abydos,"[{'ItemNo': u'85123A', 'UnitPrice': 2.55, 'Des..."
29,536397,17924.0,Dec 01 2010,Abydos,"[{'ItemNo': u'35004B', 'UnitPrice': 4.65, 'Des..."
...,...,...,...,...,...
24333,C581128,12785.0,12/07/2011,Dozaria,"[{'ItemNo': u'85099B', 'UnitPrice': 2.08, 'Des..."
24334,C581145,17490.0,40884,Abydos,"[{'ItemNo': u'M', 'UnitPrice': 9.95, 'Descript..."
24335,C581148,12462.0,40884,Canopus III,"[{'ItemNo': 22063, 'UnitPrice': 2.95, 'Descrip..."
24336,C581162,14739.0,40884,Abydos,"[{'ItemNo': 84946, 'UnitPrice': 1.06, 'Descrip..."
24337,C581178,15525.0,40884,Abydos,"[{'ItemNo': 23079, 'UnitPrice': 8.95, 'Descrip..."
24338,C581228,16019.0,Dec 08 2011,Abydos,"[{'ItemNo': 22423, 'UnitPrice': 10.95, 'Descri..."
24339,C581229,12558.0,Dec 08 2011,Trisol,"[{'ItemNo': u'85099B', 'UnitPrice': 2.08, 'Des..."
24340,C581235,15950.0,12/08/2011,Abydos,"[{'ItemNo': 23243, 'UnitPrice': 4.95, 'Descrip..."
24341,C581305,16933.0,Dec 08 2011,Abydos,"[{'ItemNo': 22627, 'UnitPrice': 8.5, 'Descript..."
24342,C581316,12523.0,12/08/2011,Altair IV,"[{'ItemNo': 23020, 'UnitPrice': 12.5, 'Descrip..."
24343,C581322,18223.0,Dec 08 2011,Abydos,"[{'ItemNo': 22909, 'UnitPrice': 0.85, 'Descrip..."
24344,C581323,14442.0,2011-12-08 11:53:00,Katina,"[{'ItemNo': 21533, 'UnitPrice': 4.25, 'Descrip..."
24345,C581330,15877.0,2011-12-08 11:57:00,Abydos,"[{'ItemNo': 22959, 'UnitPrice': 0.42, 'Descrip..."
24346,C581384,17673.0,12/08/2011,Abydos,"[{'ItemNo': 51008, 'UnitPrice': 3.45, 'Descrip..."
24347,C581390,13081.0,40885,Abydos,"[{'ItemNo': 21733, 'UnitPrice': 2.55, 'Descrip..."
24348,C581393,16892.0,40885,Abydos,"[{'ItemNo': 22780, 'UnitPrice': 4.25, 'Descrip..."
24349,C581409,12476.0,Dec 08 2011,Athas,"[{'ItemNo': 84946, 'UnitPrice': 1.25, 'Descrip..."
24350,C581460,13078.0,2011-12-08 18:48:00,Abydos,"[{'ItemNo': 22197, 'UnitPrice': 0.72, 'Descrip..."
24351,C581462,12985.0,2011-12-08 18:51:00,Abydos,"[{'ItemNo': 16219, 'UnitPrice': 0.06, 'Descrip..."
24352,C581463,17526.0,12/08/2011,Abydos,"[{'ItemNo': 85048, 'UnitPrice': 7.95, 'Descrip..."
24353,C581464,15951.0,2011-12-08 18:57:00,Abydos,"[{'ItemNo': 23458, 'UnitPrice': 14.95, 'Descri..."
24354,C581465,15755.0,12/08/2011,Abydos,"[{'ItemNo': 23660, 'UnitPrice': 1.65, 'Descrip..."
24355,C581466,13883.0,Dec 08 2011,Abydos,"[{'ItemNo': 22838, 'UnitPrice': 14.95, 'Descri..."
24356,C581468,13599.0,12/08/2011,Abydos,"[{'ItemNo': 21314, 'UnitPrice': 2.1, 'Descript..."
24357,C581470,17924.0,12/08/2011,Abydos,"[{'ItemNo': 23084, 'UnitPrice': 2.08, 'Descrip..."
24358,C581484,16446.0,2011-12-09 09:27:00,Abydos,"[{'ItemNo': 23843, 'UnitPrice': 2.08, 'Descrip..."
24359,C581490,14397.0,Dec 09 2011,Abydos,"[{'ItemNo': 22178, 'UnitPrice': 1.95, 'Descrip..."
24360,C581499,15498.0,40886,Abydos,"[{'ItemNo': u'M', 'UnitPrice': 224.69, 'Descri..."
24361,C581568,15311.0,Dec 09 2011,Abydos,"[{'ItemNo': 21258, 'UnitPrice': 10.95, 'Descri..."
24362,C581569,17315.0,Dec 09 2011,Abydos,"[{'ItemNo': 84978, 'UnitPrice': 1.25, 'Descrip..."

In [8]:
def update_date(date):
    date = date.strip()
    if re.match(r"^\d{8}$",date):
        date = datetime.datetime.strptime(date,'%Y%m%d')
    elif re.match(r"^\d{1,2}/", date):
        date = datetime.datetime.strptime(date,'%m/%d/%Y')
    elif re.match(r"^[a-z]{3}", date, re.IGNORECASE):
        date = datetime.datetime.strptime(date,'%b %d %Y')
    elif re.match(r"^\d{1,2} [a-z]{3}", date, re.IGNORECASE):
        date = datetime.datetime.strptime(date,'%d %b %Y')
    elif re.match(r"\b\d{5}\b", date) or re.match(r"\b\d{6}\b", date):
        date = (timedelta(days=int(date)) + datetime.datetime(1900,1,1)).strftime('%Y-%m-%d')
        '''    dateobj = datetime.strptime(dateobj,'%Y-%m-%d')
            print(dateobj)
            print('Date:',dateobj.date())'''
    #date = datetime.strptime(date,'%Y-%m-%d')
    return date

In [22]:
a = timedelta(minutes=243)
print(a)

4:03:00

In [14]:
df['Date'] = df.apply(lambda row: pd.Series(update_date(row['Date'])), axis=1)

In [11]:
t = df["Date"].drop_duplicates()
t = pd.to_datetime(t, unit = 'timestamp')
t.head()

0    2010-12-01 00:00:00
1    2010-12-03 00:00:00
6    2010-12-01 09:00:00
13   2010-12-01 09:37:00
14   2010-12-01 09:41:00
Name: Date, dtype: datetime64[ns]

In [12]:
time_data = ([t, t.dt.hour, t.dt.day, t.dt.week, t.dt.month, t.dt.year, t.dt.weekday])
column_labels = (['purchase_time', 'hour', 'day', 'week', 'month', 'year', 'weekday'])

In [13]:
zip_data = zip(column_labels,time_data)
dict_data = dict(zip_data)
time_df = pd.DataFrame(dict_data).reset_index(drop=True)
time_df.head()

        purchase_time  hour  day  week  month  year  weekday
0 2010-12-01 00:00:00     0    1    48     12  2010        2
1 2010-12-03 00:00:00     0    3    48     12  2010        4
2 2010-12-01 09:00:00     9    1    48     12  2010        2
3 2010-12-01 09:37:00     9    1    48     12  2010        2
4 2010-12-01 09:41:00     9    1    48     12  2010        2

In [14]:
for i, row in time_df.iterrows():
    cur.execute(purchase_time_table_insert, list(row))
    #cur.execute("INSERT INTO time(start_time,hour,day,week,month,year,weekday)VALUES(%s,%s,%s,%s,%s,%s,%s)",
     #           list(row))
    #conn.commit()

In [7]:
#insert product records
df.rename(columns = {'Planet':'product_name'}, inplace = True)
df_product = df[['product_name']].drop_duplicates()
df_product

for i,row in df_product.iterrows():
    cur.execute(products_table_insert,row)
#conn.commit()
#df_product_name = df_product.product_name.unique()
#product_name = pd.DataFrame(df_product_name)
#product_name.values[0]

In [8]:
df_purchase = df['Purchase'].apply(ast.literal_eval)

In [9]:
df1 = pd.concat({k:pd.DataFrame(v) for k, v in df_purchase.items()})

In [10]:
df = df.join(df1.reset_index(level=1, drop=True)).reset_index(drop=True)

In [ ]:
'''df_product_item = df[['product_name','ItemNo','Description','Quantity','UnitPrice']].drop_duplicates()
#df_product_item
df_product_item.sort_values(by=['product_name','ItemNo'], inplace=True, ascending=True)
df_product_item.rename(columns = {'ItemNo':'item_code','UnitPrice':'unit_price'}, inplace = True)
df_product_item.info()'''

In [12]:
df1.rename(columns = {'ItemNo':'item_code','UnitPrice':'unit_price'}, inplace = True)
df_item = df1[['item_code','Description']].drop_duplicates()
#df_item1 = df_item[['item_code']].drop_duplicates()
#df_test = pd.merge(df_item1, df_item, on='item_code', how='left')
#df_test
#df_test = df_test.query("item_code== 22632");
#df_item
#df_item_no = pd.DataFrame(df_item_name)
#del df_item['item_code']
#df_test = df_item_1.join(df_item.reset_index(level=1, drop=True)).reset_index(drop=True)
#df_test
        
#df_item = df_item.query('item_code=22632')
#df_item.sort_values(by=[('item_code')])
#df_item.sort_values(by=['item_code'], inplace=True, ascending=True)

#df_item = [22632]
#df_item.sort_values(by=['22632'])

#insert item records
for i,row in df_item.iterrows():
    cur.execute(items_table_insert,row)

In [ ]:
#df_product_item = df1.drop_duplicates()
#d_test
#f_test = df_test.query("item_code== 22632");
#pd.DataFrame(df_product_item)

In [ ]:
'''for i,row in df_product_item.iterrows():
    cur.execute(product_select,(str(row.product_name),))
    v_product = cur.fetchone()
    if v_product is None:
        break
    else:
        cur.execute(item_select,(str(row.item_code),))
        v_item = cur.fetchone()
        if v_item is None:
            break
        else:
            product_item_detail_data = (v_product,v_item,row.unit_price,row.Quantity)
            cur.execute(product_item_details_table_insert,product_item_detail_data)'''

In [ ]:
#df_test = df_item_no.join(df_item.reset_index(level=1, drop=True)).reset_index(drop=True)
#df_test.drop_duplicates()

In [15]:
#insert item records
for i,row in df_item.iterrows():
    cur.execute(items_table_insert,row)
        #get product_id and item_id from products and items tables.

In [13]:
del df['Purchase']
#df.columns = ['InvoiceNo','Customer_ID','Date','Product','Product_Type','ItemNo','Quantity','UnitPrice']

In [15]:
df.rename(columns = {'ItemNo':'item_code','UnitPrice':'unit_price'}, inplace = True)
df

,InvoiceNo,Customer_ID,Date,product_name,Description,item_code,Quantity,unit_price
0,536365,17850.0,Dec 01 2010,Abydos,ADORIAN CROSSBOW,85123A,6,2.55
1,536365,17850.0,Dec 01 2010,Abydos,WHITE METAL LANTERN,71053,6,3.39
2,536365,17850.0,Dec 01 2010,Abydos,CREAM CUPID HEARTS COAT HANGER,84406B,8,2.75
3,536365,17850.0,Dec 01 2010,Abydos,KNITTED UNION FLAG HOT WATER BOTTLE,84029G,6,3.39
4,536365,17850.0,Dec 01 2010,Abydos,RED WOOLLY HOTTIE WHITE HEART.,84029E,6,3.39
5,536365,17850.0,Dec 01 2010,Abydos,SET 7 BABUSHKA NESTING BOXES,22752,2,7.65
6,536365,17850.0,Dec 01 2010,Abydos,GLASS STAR FROSTED T-LIGHT HOLDER,21730,6,4.25
7,536366,17850.0,40513,Abydos,BRAWNDO,22633,6,1.85
8,536366,17850.0,40513,Abydos,HAND WARMER RED POLKA DOT,22632,6,1.85
9,536367,13047.0,12/01/2010,Abydos,REVERBERATING CARBONIZER,84879,32,1.69
10,536367,13047.0,12/01/2010,Abydos,POPPY'S PLAYHOUSE BEDROOM,22745,6,2.10
11,536367,13047.0,12/01/2010,Abydos,POPPY'S PLAYHOUSE KITCHEN,22748,6,2.10
12,536367,13047.0,12/01/2010,Abydos,FELTCRAFT PRINCESS CHARLOTTE DOLL,22749,8,3.75
13,536367,13047.0,12/01/2010,Abydos,IVORY KNITTED MUG COSY,22310,6,1.65
14,536367,13047.0,12/01/2010,Abydos,BOX OF 6 ASSORTED COLOUR TEASPOONS,84969,6,4.25
15,536367,13047.0,12/01/2010,Abydos,BOX OF VINTAGE JIGSAW BLOCKS,22623,3,4.95
16,536367,13047.0,12/01/2010,Abydos,BOX OF VINTAGE ALPHABET BLOCKS,22622,2,9.95
17,536367,13047.0,12/01/2010,Abydos,PRIDWEN,21754,3,5.95
18,536367,13047.0,12/01/2010,Abydos,MOURNBLADE,21755,3,5.95
19,536367,13047.0,12/01/2010,Abydos,RECIPE BOX WITH METAL HEART,21777,4,7.95
20,536367,13047.0,12/01/2010,Abydos,DAGGER OF TIME,48187,4,7.95
21,536368,13047.0,Dec 01 2010,Abydos,SHARUR,22960,6,4.25
22,536368,13047.0,Dec 01 2010,Abydos,RED COAT RACK PARIS FASHION,22913,3,4.95
23,536368,13047.0,Dec 01 2010,Abydos,YELLOW COAT RACK PARIS FASHION,22912,3,4.95
24,536368,13047.0,Dec 01 2010,Abydos,BLUE COAT RACK PARIS FASHION,22914,3,4.95
25,536369,13047.0,12/01/2010,Abydos,BATH BUILDING BLOCK WORD,21756,3,5.95
26,536370,12583.0,40513,Altair IV,CARNWENNAN,22728,24,3.75
27,536370,12583.0,40513,Altair IV,KODANDAM,22727,24,3.75
28,536370,12583.0,40513,Altair IV,SHARANGA,22726,12,3.75
29,536370,12583.0,40513,Altair IV,PANDA AND BUNNIES STICKER SHEET,21724,12,0.85
...,...,...,...,...,...,...,...,...
406799,C581409,12476.0,Dec 08 2011,Athas,KAUMODAKI,82482,-1,2.95
406800,C581409,12476.0,Dec 08 2011,Athas,CADRE COLA,22173,-2,3.29
406801,C581409,12476.0,Dec 08 2011,Athas,LARGE HANGING IVORY & RED WOOD BIRD,85199L,-1,0.65
406802,C581409,12476.0,Dec 08 2011,Athas,SMALL SQUARE CUT GLASS CANDLESTICK,85127,-5,4.95
406803,C581460,13078.0,2011-12-08 18:48:00,Abydos,TRI BARREL PLASMA GUN,22197,-5,0.72
406804,C581460,13078.0,2011-12-08 18:48:00,Abydos,PIZZA PLATE IN BOX,22107,-1,1.25
406805,C581462,12985.0,2011-12-08 18:51:00,Abydos,HOUSE SHAPE PENCIL SHARPENER,16219,-48,0.06
406806,C581462,12985.0,2011-12-08 18:51:00,Abydos,ASSORTED TUTTI FRUTTI PEN,21642,-72,0.29
406807,C581463,17526.0,12/08/2011,Abydos,15CM CHRISTMAS GLASS BALL 20 LIGHTS,85048,-2,7.95
406808,C581464,15951.0,2011-12-08 18:57:00,Abydos,DOLLY CABINET 3 DRAWERS,23458,-1,14.95
406809,C581464,15951.0,2011-12-08 18:57:00,Abydos,COLOURED GLASS STAR T-LIGHT HOLDER,71477,-6,3.95
406810,C581465,15755.0,12/08/2011,Abydos,HENRIETTA HEN MUG,23660,-2,1.65
406811,C581465,15755.0,12/08/2011,Abydos,3 HOOK PHOTO SHELF ANTIQUE WHITE,22171,-1,8.50
406812,C581465,15755.0,12/08/2011,Abydos,POTTERING MUG,21876,-4,1.65
406813,C581465,15755.0,12/08/2011,Abydos,DRAGVANDIL,20914,-3,2.95
406814,C581466,13883.0,Dec 08 2011,Abydos,3 TIER CAKE TIN RED AND CREAM,22838,-1,14.95
406815,C581466,13883.0,Dec 08 2011,Abydos,SERIES 4 DE-ATOMIZER,22720,-2,4.95
406816,C581466,13883.0,Dec 08 2011,Abydos,"SET 3 RETROSPOT TEA,COFFEE,SUGAR",21216,-1,4.95
406817,C581466,13883.0,Dec 08 2011,Abydos,RED RETROSPOT SMALL MILK JUG,21535,-2,2.55
406818,C581466,13883.0,Dec 08 2011,Abydos,HOFUD,21232,-1,1.25
406819,C581468,13599.0,12/08/2011,Abydos,ARMADS,21314,-10,2.10
406820,C581468,13599.0,12/08/2011,Abydos,BOUDOIR SQUARE TISSUE BOX,22098,-12,0.39
406821,C581470,17924.0,12/08/2011,Abydos,PATTAYUDHA,23084,-4,2.08
406822,C581484,16446.0,2011-12-09 09:27:00,Abydos,"PAPER CRAFT , LITTLE BIRDIE",23843,-80995,2.08
406823,C581490,14397.0,Dec 09 2011,Abydos,PARASHU,22178,-12,1.95
406824,C581490,14397.0,Dec 09 2011,Abydos,ZINC T-LIGHT HOLDER STARS SMALL,23144,-11,0.83
406825,C581499,15498.0,40886,Abydos,SIEGMUND,M,-1,224.69
406826,C581568,15311.0,Dec 09 2011,Abydos,VICTORIAN SEWING BOX LARGE,21258,-5,10.95
406827,C581569,17315.0,Dec 09 2011,Abydos,AME,84978,-1,1.25
406828,C581569,17315.0,Dec 09 2011,Abydos,36 PENCILS TUBE RED RETROSPOT,20979,-5,1.25

In [ ]:
'''df = df.loc[:,["Date"]]
df = df.head(10)
df['Date']'''

In [ ]:
#df_date = df['Date'].drop_duplicates()

In [ ]:
#df_date = pd.to_datetime(df_date, format='%Y-%m-%d').dt.strftime('%m/%d/%Y')

In [ ]:
#df_date = pd.DataFrame(df_date)

In [16]:
def update_date(date):
    date = date.strip()
    if re.match(r"^\d{8}$",date):
        date = datetime.datetime.strptime(date,'%Y%m%d')
    elif re.match(r"^\d{1,2}/", date):
        date = datetime.datetime.strptime(date,'%m/%d/%Y')
    elif re.match(r"^[a-z]{3}", date, re.IGNORECASE):
        date = datetime.datetime.strptime(date,'%b %d %Y')
    elif re.match(r"^\d{1,2} [a-z]{3}", date, re.IGNORECASE):
        date = datetime.datetime.strptime(date,'%d %b %Y')
    elif re.match(r"\b\d{5}\b", date) or re.match(r"\b\d{6}\b", date):
        date = (timedelta(days=int(date)) + datetime.datetime(1900,1,1)).strftime('%Y-%m-%d')
        '''    dateobj = datetime.strptime(dateobj,'%Y-%m-%d')
            print(dateobj)
            print('Date:',dateobj.date())'''
    #date = datetime.strptime(date,'%Y-%m-%d')
    return date

In [17]:
df['Date'] = df.apply(lambda row: pd.Series(update_date(row['Date'])), axis=1)
df

,InvoiceNo,Customer_ID,Date,product_name,Description,item_code,Quantity,unit_price
0,536365,17850.0,2010-12-01 00:00:00,Abydos,ADORIAN CROSSBOW,85123A,6,2.55
1,536365,17850.0,2010-12-01 00:00:00,Abydos,WHITE METAL LANTERN,71053,6,3.39
2,536365,17850.0,2010-12-01 00:00:00,Abydos,CREAM CUPID HEARTS COAT HANGER,84406B,8,2.75
3,536365,17850.0,2010-12-01 00:00:00,Abydos,KNITTED UNION FLAG HOT WATER BOTTLE,84029G,6,3.39
4,536365,17850.0,2010-12-01 00:00:00,Abydos,RED WOOLLY HOTTIE WHITE HEART.,84029E,6,3.39
5,536365,17850.0,2010-12-01 00:00:00,Abydos,SET 7 BABUSHKA NESTING BOXES,22752,2,7.65
6,536365,17850.0,2010-12-01 00:00:00,Abydos,GLASS STAR FROSTED T-LIGHT HOLDER,21730,6,4.25
7,536366,17850.0,2010-12-03 00:00:00,Abydos,BRAWNDO,22633,6,1.85
8,536366,17850.0,2010-12-03 00:00:00,Abydos,HAND WARMER RED POLKA DOT,22632,6,1.85
9,536367,13047.0,2010-12-01 00:00:00,Abydos,REVERBERATING CARBONIZER,84879,32,1.69
10,536367,13047.0,2010-12-01 00:00:00,Abydos,POPPY'S PLAYHOUSE BEDROOM,22745,6,2.10
11,536367,13047.0,2010-12-01 00:00:00,Abydos,POPPY'S PLAYHOUSE KITCHEN,22748,6,2.10
12,536367,13047.0,2010-12-01 00:00:00,Abydos,FELTCRAFT PRINCESS CHARLOTTE DOLL,22749,8,3.75
13,536367,13047.0,2010-12-01 00:00:00,Abydos,IVORY KNITTED MUG COSY,22310,6,1.65
14,536367,13047.0,2010-12-01 00:00:00,Abydos,BOX OF 6 ASSORTED COLOUR TEASPOONS,84969,6,4.25
15,536367,13047.0,2010-12-01 00:00:00,Abydos,BOX OF VINTAGE JIGSAW BLOCKS,22623,3,4.95
16,536367,13047.0,2010-12-01 00:00:00,Abydos,BOX OF VINTAGE ALPHABET BLOCKS,22622,2,9.95
17,536367,13047.0,2010-12-01 00:00:00,Abydos,PRIDWEN,21754,3,5.95
18,536367,13047.0,2010-12-01 00:00:00,Abydos,MOURNBLADE,21755,3,5.95
19,536367,13047.0,2010-12-01 00:00:00,Abydos,RECIPE BOX WITH METAL HEART,21777,4,7.95
20,536367,13047.0,2010-12-01 00:00:00,Abydos,DAGGER OF TIME,48187,4,7.95
21,536368,13047.0,2010-12-01 00:00:00,Abydos,SHARUR,22960,6,4.25
22,536368,13047.0,2010-12-01 00:00:00,Abydos,RED COAT RACK PARIS FASHION,22913,3,4.95
23,536368,13047.0,2010-12-01 00:00:00,Abydos,YELLOW COAT RACK PARIS FASHION,22912,3,4.95
24,536368,13047.0,2010-12-01 00:00:00,Abydos,BLUE COAT RACK PARIS FASHION,22914,3,4.95
25,536369,13047.0,2010-12-01 00:00:00,Abydos,BATH BUILDING BLOCK WORD,21756,3,5.95
26,536370,12583.0,2010-12-03 00:00:00,Altair IV,CARNWENNAN,22728,24,3.75
27,536370,12583.0,2010-12-03 00:00:00,Altair IV,KODANDAM,22727,24,3.75
28,536370,12583.0,2010-12-03 00:00:00,Altair IV,SHARANGA,22726,12,3.75
29,536370,12583.0,2010-12-03 00:00:00,Altair IV,PANDA AND BUNNIES STICKER SHEET,21724,12,0.85
...,...,...,...,...,...,...,...,...
406799,C581409,12476.0,2011-12-08 00:00:00,Athas,KAUMODAKI,82482,-1,2.95
406800,C581409,12476.0,2011-12-08 00:00:00,Athas,CADRE COLA,22173,-2,3.29
406801,C581409,12476.0,2011-12-08 00:00:00,Athas,LARGE HANGING IVORY & RED WOOD BIRD,85199L,-1,0.65
406802,C581409,12476.0,2011-12-08 00:00:00,Athas,SMALL SQUARE CUT GLASS CANDLESTICK,85127,-5,4.95
406803,C581460,13078.0,2011-12-08 18:48:00,Abydos,TRI BARREL PLASMA GUN,22197,-5,0.72
406804,C581460,13078.0,2011-12-08 18:48:00,Abydos,PIZZA PLATE IN BOX,22107,-1,1.25
406805,C581462,12985.0,2011-12-08 18:51:00,Abydos,HOUSE SHAPE PENCIL SHARPENER,16219,-48,0.06
406806,C581462,12985.0,2011-12-08 18:51:00,Abydos,ASSORTED TUTTI FRUTTI PEN,21642,-72,0.29
406807,C581463,17526.0,2011-12-08 00:00:00,Abydos,15CM CHRISTMAS GLASS BALL 20 LIGHTS,85048,-2,7.95
406808,C581464,15951.0,2011-12-08 18:57:00,Abydos,DOLLY CABINET 3 DRAWERS,23458,-1,14.95
406809,C581464,15951.0,2011-12-08 18:57:00,Abydos,COLOURED GLASS STAR T-LIGHT HOLDER,71477,-6,3.95
406810,C581465,15755.0,2011-12-08 00:00:00,Abydos,HENRIETTA HEN MUG,23660,-2,1.65
406811,C581465,15755.0,2011-12-08 00:00:00,Abydos,3 HOOK PHOTO SHELF ANTIQUE WHITE,22171,-1,8.50
406812,C581465,15755.0,2011-12-08 00:00:00,Abydos,POTTERING MUG,21876,-4,1.65
406813,C581465,15755.0,2011-12-08 00:00:00,Abydos,DRAGVANDIL,20914,-3,2.95
406814,C581466,13883.0,2011-12-08 00:00:00,Abydos,3 TIER CAKE TIN RED AND CREAM,22838,-1,14.95
406815,C581466,13883.0,2011-12-08 00:00:00,Abydos,SERIES 4 DE-ATOMIZER,22720,-2,4.95
406816,C581466,13883.0,2011-12-08 00:00:00,Abydos,"SET 3 RETROSPOT TEA,COFFEE,SUGAR",21216,-1,4.95
406817,C581466,13883.0,2011-12-08 00:00:00,Abydos,RED RETROSPOT SMALL MILK JUG,21535,-2,2.55
406818,C581466,13883.0,2011-12-08 00:00:00,Abydos,HOFUD,21232,-1,1.25
406819,C581468,13599.0,2011-12-08 00:00:00,Abydos,ARMADS,21314,-10,2.10
406820,C581468,13599.0,2011-12-08 00:00:00,Abydos,BOUDOIR SQUARE TISSUE BOX,22098,-12,0.39
406821,C581470,17924.0,2011-12-08 00:00:00,Abydos,PATTAYUDHA,23084,-4,2.08
406822,C581484,16446.0,2011-12-09 09:27:00,Abydos,"PAPER CRAFT , LITTLE BIRDIE",23843,-80995,2.08
406823,C581490,14397.0,2011-12-09 00:00:00,Abydos,PARASHU,22178,-12,1.95
406824,C581490,14397.0,2011-12-09 00:00:00,Abydos,ZINC T-LIGHT HOLDER STARS SMALL,23144,-11,0.83
406825,C581499,15498.0,2011-12-11 00:00:00,Abydos,SIEGMUND,M,-1,224.69
406826,C581568,15311.0,2011-12-09 00:00:00,Abydos,VICTORIAN SEWING BOX LARGE,21258,-5,10.95
406827,C581569,17315.0,2011-12-09 00:00:00,Abydos,AME,84978,-1,1.25
406828,C581569,17315.0,2011-12-09 00:00:00,Abydos,36 PENCILS TUBE RED RETROSPOT,20979,-5,1.25

In [34]:
#df.info()
#df[['Customer_ID']] = df[['Customer_ID']].astype(int)
#df = df.query("customer_ID==' '");

#df_purchase.loc[df['Customer_ID'].notnull(), 'Customer_ID'] = df_purchase.loc[df['Customer_ID'].notnull(), 'Customer_ID'].apply(int)
#print(df_purchase[df_purchase['InvoiceNo'].isnull()])
#df_purchase.info()

In [20]:
df_purchase = df[['InvoiceNo','Customer_ID','Date','product_name','item_code','unit_price','Quantity']].drop_duplicates()
df_purchase.loc[df['Customer_ID'].notnull(), 'Customer_ID'] = df_purchase.loc[df['Customer_ID'].notnull(), 'Customer_ID'].apply(int)
#df_product_item
df_purchase.sort_values(by=['InvoiceNo','product_name','item_code'], inplace=True, ascending=True)
#df_purchase.rename(columns = {'ItemNo':'item_code','UnitPrice':'unit_price'}, inplace = True)
df_purchase

,InvoiceNo,Customer_ID,Date,product_name,item_code,unit_price,Quantity
6,536365,17850,2010-12-01 00:00:00,Abydos,21730,4.25,6
5,536365,17850,2010-12-01 00:00:00,Abydos,22752,7.65,2
1,536365,17850,2010-12-01 00:00:00,Abydos,71053,3.39,6
4,536365,17850,2010-12-01 00:00:00,Abydos,84029E,3.39,6
3,536365,17850,2010-12-01 00:00:00,Abydos,84029G,3.39,6
2,536365,17850,2010-12-01 00:00:00,Abydos,84406B,2.75,8
0,536365,17850,2010-12-01 00:00:00,Abydos,85123A,2.55,6
8,536366,17850,2010-12-03 00:00:00,Abydos,22632,1.85,6
7,536366,17850,2010-12-03 00:00:00,Abydos,22633,1.85,6
17,536367,13047,2010-12-01 00:00:00,Abydos,21754,5.95,3
18,536367,13047,2010-12-01 00:00:00,Abydos,21755,5.95,3
19,536367,13047,2010-12-01 00:00:00,Abydos,21777,7.95,4
13,536367,13047,2010-12-01 00:00:00,Abydos,22310,1.65,6
16,536367,13047,2010-12-01 00:00:00,Abydos,22622,9.95,2
15,536367,13047,2010-12-01 00:00:00,Abydos,22623,4.95,3
10,536367,13047,2010-12-01 00:00:00,Abydos,22745,2.10,6
11,536367,13047,2010-12-01 00:00:00,Abydos,22748,2.10,6
12,536367,13047,2010-12-01 00:00:00,Abydos,22749,3.75,8
20,536367,13047,2010-12-01 00:00:00,Abydos,48187,7.95,4
9,536367,13047,2010-12-01 00:00:00,Abydos,84879,1.69,32
14,536367,13047,2010-12-01 00:00:00,Abydos,84969,4.25,6
23,536368,13047,2010-12-01 00:00:00,Abydos,22912,4.95,3
22,536368,13047,2010-12-01 00:00:00,Abydos,22913,4.95,3
24,536368,13047,2010-12-01 00:00:00,Abydos,22914,4.95,3
21,536368,13047,2010-12-01 00:00:00,Abydos,22960,4.25,6
25,536369,13047,2010-12-01 00:00:00,Abydos,21756,5.95,3
31,536370,12583,2010-12-03 00:00:00,Altair IV,10002,0.85,48
33,536370,12583,2010-12-03 00:00:00,Altair IV,21035,2.95,18
29,536370,12583,2010-12-03 00:00:00,Altair IV,21724,0.85,12
39,536370,12583,2010-12-03 00:00:00,Altair IV,21731,1.65,24
...,...,...,...,...,...,...,...
406798,C581409,12476,2011-12-08 00:00:00,Athas,82484,7.95,-1
406790,C581409,12476,2011-12-08 00:00:00,Athas,84946,1.25,-1
406802,C581409,12476,2011-12-08 00:00:00,Athas,85127,4.95,-5
406801,C581409,12476,2011-12-08 00:00:00,Athas,85199L,0.65,-1
406804,C581460,13078,2011-12-08 18:48:00,Abydos,22107,1.25,-1
406803,C581460,13078,2011-12-08 18:48:00,Abydos,22197,0.72,-5
406805,C581462,12985,2011-12-08 18:51:00,Abydos,16219,0.06,-48
406806,C581462,12985,2011-12-08 18:51:00,Abydos,21642,0.29,-72
406807,C581463,17526,2011-12-08 00:00:00,Abydos,85048,7.95,-2
406808,C581464,15951,2011-12-08 18:57:00,Abydos,23458,14.95,-1
406809,C581464,15951,2011-12-08 18:57:00,Abydos,71477,3.95,-6
406813,C581465,15755,2011-12-08 00:00:00,Abydos,20914,2.95,-3
406812,C581465,15755,2011-12-08 00:00:00,Abydos,21876,1.65,-4
406811,C581465,15755,2011-12-08 00:00:00,Abydos,22171,8.50,-1
406810,C581465,15755,2011-12-08 00:00:00,Abydos,23660,1.65,-2
406816,C581466,13883,2011-12-08 00:00:00,Abydos,21216,4.95,-1
406818,C581466,13883,2011-12-08 00:00:00,Abydos,21232,1.25,-1
406817,C581466,13883,2011-12-08 00:00:00,Abydos,21535,2.55,-2
406815,C581466,13883,2011-12-08 00:00:00,Abydos,22720,4.95,-2
406814,C581466,13883,2011-12-08 00:00:00,Abydos,22838,14.95,-1
406819,C581468,13599,2011-12-08 00:00:00,Abydos,21314,2.10,-10
406820,C581468,13599,2011-12-08 00:00:00,Abydos,22098,0.39,-12
406821,C581470,17924,2011-12-08 00:00:00,Abydos,23084,2.08,-4
406822,C581484,16446,2011-12-09 09:27:00,Abydos,23843,2.08,-80995
406823,C581490,14397,2011-12-09 00:00:00,Abydos,22178,1.95,-12
406824,C581490,14397,2011-12-09 00:00:00,Abydos,23144,0.83,-11
406825,C581499,15498,2011-12-11 00:00:00,Abydos,M,224.69,-1
406826,C581568,15311,2011-12-09 00:00:00,Abydos,21258,10.95,-5
406828,C581569,17315,2011-12-09 00:00:00,Abydos,20979,1.25,-5
406827,C581569,17315,2011-12-09 00:00:00,Abydos,84978,1.25,-1

In [21]:
for i,row in df_purchase.iterrows():
    cur.execute(product_select,(str(row.product_name),))
    v_product = cur.fetchone()
    if v_product is None:
        break
    else:
        cur.execute(item_select,(str(row.item_code),))
        v_item = cur.fetchone()
        if v_item is None:
            break
        else:
            purchase_data = (row.InvoiceNo,row.Date,row.Customer_ID,v_product,v_item,row.unit_price,row.Quantity)
            cur.execute(purchase_table_insert,purchase_data)

In [12]:
cur.close()